body {
  background: rgb(204,204,204);
}
table, tr, td{
  border-collapse: collapse;
  border: 8px solid black;
}
p{
  font-family: arial,serif;
  font-size: 22px;
  font-weight: bold;
  margin: 3px;

}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}
page[size="A4"] {
  width: 210mm;
  height: 297mm;
}
page[size="A4"][layout="portrait"] {
  width: 297mm;
  height: 210mm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
